//colors
$black: #1d1d1d;
$grey: #939393;
$white: #f9f9f9;


//font-sizes
$h1: 9.2rem;
$h2: 7.5rem;
$h3: 2.8rem;
$h4: 2rem;
$th1: 6.8rem;
$th2: 5.2rem;
$mh1: 4rem;
$mh4: 1.6rem;

//breakpoints
$lg: 991px;
$md: 768px;
$sm: 576px;
