.container{
    max-width: 144rem;
    padding-left: 14rem;
    padding-right: 14rem;
    margin: 0 auto;
    overflow: hidden;
    @include bp($lg){
        padding-left: 6rem;
        padding-right: 6rem;
    }
    @include bp($sm){
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}