.contacts{
    position: relative;
    margin-bottom: 15rem;
    @include bp($sm){
        margin-bottom: 8rem;
    }
    .contacts__header{
        margin-bottom: 12rem;
        @include bp($sm){
            margin-bottom: 8rem;
        }
    }
    .contacts__bgground{
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        z-index: 1;
    }
    .contacts__content{
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $black;
        font-size: $h3;
        @include bp($sm){
            font-size: $mh4;
        }

        .contacts__tel, .contacts__mail{
            transition: all 0.2s linear;
            margin-bottom: 2.5rem;
            &:hover{
                text-decoration: underline;
                color: $grey;
            }
        }
    }

}