header{
   
    .header__preview{
        height: 58rem;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        position: relative;
        @include bp($md){
            display: flex;
            justify-content: center;
            @include bp($sm){
                height: 36rem;
            }
        }
        
        .header__photo{
            height: 100%;
            width: 100%;
            object-fit: cover;
            @include bp($md){
                margin-left: 6rem;
                object-fit: scale-down;
                width: auto;
                height: 100%;

            }
        }
        .header__description{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: absolute;
            z-index: 1;
            bottom: 0;
            right: 0;
            margin-right: 1.6rem;
            margin-bottom: 2.5rem;
            line-height: 1;
            color: $white;
            &--top_block{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 2.5rem;
            }
            &--profession{
                font-size: $h3;
                margin-bottom: 0.5rem;
                @include bp($lg){
                    font-size: $h4;
                }
                @include bp($sm){
                    font-size: $mh4;
                }
            }
            &--name, &--surname{
                font-size: $h1;
                @include bp($lg){
                    font-size: $th1;
                }
                @include bp($sm){
                    font-size: $mh1;
                }
            }
        }
    }
    .header__slide-down{
        display: flex;
        margin: 1.5rem 0;
        justify-content: center;
        align-items: center;

    }
    margin-bottom: 15rem;
    @include bp($md){
        margin-bottom: 12rem;
        @include bp($sm){
            margin-bottom: 8rem;
        }
    }
    
}