.nav{
    height: 10.8rem;
    font-size: 2rem;
    .nav__list{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .nav__item{
            padding: 0 2rem;
        }
    }
}