.nav{
    height: 11.8rem;
    font-size: 2rem;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: rgba($color: $white, $alpha: .95);
    @include bp($md){
        flex-direction: column;
        height: auto;
    }
    .nav__list{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        @include bp($md){
            display: flex;
            flex-direction: column;
            position: absolute;
            height: auto;
            width: 100%;
            transition: all 0.4s ease-in-out;
            top: -200vh;
            
            font-size: $mh1;
            
            .show-sidebar &{
            display: flex;
            flex-direction: column;
            @include bp($md){
                top: 11.8rem;
                @include bp($sm){
                    top: 6rem;
                }
            }
            }
            @include bp($sm){
                font-size: $h3;
            }
            
        }
        .nav__item{
            padding: 1rem 2rem;
            transition: all 0.2s linear;
            position: relative;
            background-color: transparent;
            &--social{
                display: none;
            }
            @include bp($md){
                background-color: rgba($color: $white, $alpha: .95);
                border: none;
                width: 100%;
                padding: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                &--social{
                    display: flex;
                }
                @include bp($sm){
                    padding: 1.8rem;
                    
                } 
                
            }
            @media (max-height:450px) {
                padding-top: 0.6rem;
                padding-bottom: 0.6rem;
            }
            &:after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 0;
                height: 0.1rem;
                background-color: $grey;
                transition: all 0.2s linear;
            }
            &:hover:after{
                width: 100%;
            }
            &:hover{
                color: $grey;
            }
            
        }
    }
}