.skills{
    margin-bottom: 16rem;
    @include bp($md){
        margin-bottom: 12rem;
        @include bp($sm){
            margin-bottom: 8rem;
        }
    }
    .skills__list{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .skills__item{
            width: 100%;
            margin-bottom: 4rem;
            @include bp($sm){
                margin-bottom: 3rem;
            }
        }
        & .skills__item:nth-child(even){
            width: 50%;
            @include bp($sm){
                width: 100%;
            }
        }
        & .skills__item:last-child{
            margin-bottom: 0;
        }
    }
    .skills__name{
        font-size: $h3;
        line-height: 2;
        border-bottom: 1px solid $grey;
        margin-bottom: 2rem;
        @include bp($sm){
            font-size: $h4;
        }
    }
    .skills__content{
        font-size: $h4;
        line-height: 1.5;
        @include bp($sm){
            font-size: $mh4;
        }
    }
}