.social{
    display: flex;
    margin: 1rem 0;
    
    .social__item{
        width: 3.5rem;
        height: 3.5rem;
        margin: 0 1.4rem;
        
        
        .social__link{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover >.social__icon{
                fill: $grey;
                transform: scale(1.2);
            }
            .social__icon{
                width: 3rem;
                height: 3rem;
                fill: $black;

                transition: all 0.2s linear;
                
            }
        }
    }
}
.contacts{
    @include bp($sm){
        .social__item{
            width: 2.5rem;
            height: 2.5rem;
            margin: 0 1.4rem;
            .social__icon{
                width: 2rem;
                height: 2rem;
                fill: $black;

                transition: all 0.2s linear;
                
            }
        }
    
    }    
}