<header>
    
    <div class="container">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="">About</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="">Skills</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="">Portfolio</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="header__preview">
            <img class="header__photo" src="assets/images/header_photo.png" alt="">
        </div>
    </div>


</header>
