<!-- header -->
<header> 
    <div class="container">
        <nav class="nav" id="nav">
            <div class="burger__block">
                <div class="burger" id="burger">
                  <span class="burger__element"></span>
                </div>
            </div>
            <ul class="nav__list">
                <li class="nav__item" data-scroll="about">
                    <div class="nav__link"  >About</div>
                </li>
                <li class="nav__item" data-scroll="skills">
                    <div class="nav__link" >Skills</div>
                </li>
                <li class="nav__item"  data-scroll="portfolio">
                    <div class="nav__link">Portfolio</div>
                </li>
                <li class="nav__item" data-scroll="contacts">
                    <div class="nav__link" >Contact</div>
                </li>
                <li class="nav__item nav__item--social">
                    <ul class="social">
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <svg class="social__icon">
                                    <use href="#inst"></use>
                                </svg>
                            </a>
                        </li>
        
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <svg class="social__icon">
                                    <use href="#be"></use>
                                </svg>
                            </a>
                        </li>
                        
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <svg class="social__icon">
                                    <use href="#tg"></use>
                                </svg>
                            </a>
                        </li>
                </li>
            </ul>

        </nav>
        <div class="header__preview">
            <img class="header__photo" src="assets/images/header-photo.jpg" alt="">
            <div class="header__description">
                <div class="header__description--top_block">
                    <p class="header__description--profession">UX/UI designer</p>
                    <p class="header__description--name">Ekaterina</p>
                </div>
                <div class="header__description-bottom-block">
                    <p class="header__description--surname">Ermoshchikova</p>
                </div>
            </div>
        </div>
        <div class="header__slide-down">
            <button class="btn btn--rounded" type="button" data-scroll="about">
                &darr;
            </button>
        </div>
    </div>
</header>
<!-- /header -->